body, ul, li, td { margin:0;padding:0; }

/*黑色导航栏*/
.global-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545652;
}

.global-nav li {
    float:left;
}

.global-nav li a {
    font-size: 0.9em;
    display:block;
    color: snow;
    padding:9px 15px;
    text-decoration:  none;
}

.global-nav li a:hover {
    background-color: black;
}
/* 绿色导航栏*/
.club-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #edf4ed;
    height: 76px;
}

.club-nav li {
    float: left;
    height: 70px;
}

.club-nav input {
    width: 275px;
    height:25px;
}