
/*show.php*/
.the-article {
    margin-top: 55px;
    margin-left: 312px;
    width: 675px;
    padding-bottom: 115px;
    border-bottom: 1px solid #e6e6e6;
    float: left;
}
.the-article h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 36.4px;
}
.the-article pre {
    margin: 0 0 20px 0;
    line-height: 1.8;
    font-size: 14px;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.message {
    margin-top: 25px;
    margin-bottom: 35px;
    height: 24px;
}
.head-img {
    width: 24px;
    height: 24px;
}
.author {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
    margin-left: 7px;
    margin-right: 10px;
    position: relative;
    top: -5px;
}
.time-in {
    color: #aaaaaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    position: relative;
    top: -4px;
}
.footer-sharing {
    margin-top: 70px;
}
.read-number {
    float: left;
    color: #aaaaaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.change-button {
    display: none;
    float: right;
    cursor: pointer;
    font-size: 12px;
    padding: 2px;
    text-decoration:  none;
    border: 1px solid orangered;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 7px;
    color: orangered;
}
.the-article:hover .change-button {
     display: block;
 }
.good {
    font-size: 12px;
    padding: 2px;
    text-decoration:  none;
    border: 1px solid orangered;
    font-family: Helvetica, Arial, sans-serif;
    color: orangered;
    margin-left: 7px;
    float: right;
}

/*评论框*/
.comments {
    margin-left: 312px;
    width: 675px;
    padding-bottom: 50px;
}
.comment-block {
    margin-top: 30px;
}
.reply-button {
    display: none;
    color: #999999;
    font-size: 12px;
    float: right;
    cursor: pointer;
}
.comments img{
    width: 48px;
    height: 48px;
}
.title-in-comment {
    background-color: #f2fbf2;
    position:relative;
    top: -48px;
    padding: 1px;
    margin-left: 70px;
}
.time-in-comment {
    color: #aaaaaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
}
.author-in-comment {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
    margin-left: 7px;
    padding: 4px;
}
.comments p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.62;
    word-wrap: break-word;
    margin-left: 70px;
    position: relative;
    top: -30px;
}
.reply {
    border-left: 1px solid #999999;
    padding-left: 8px;
    margin-bottom: 10px;
}
.comment-block:hover .reply-button {
    display: block;
}

.comment-edit-title {
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 1.62;
}
.comment-edit-box {
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    cursor: text;
    height: 67px;
    width: 100%;
    resize: none;
    flex-direction: column;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: start;
    writing-mode: horizontal-tb;
}
.comment-edit-button {
    height: 25px;
    width: 50px;
    border: 1px solid #ccc;
    outline:none;
    float: right;
    background-color: #ffffff;
    margin-top: 5px;
    position: relative;
    right: -8px;
}

/*文章阅读界面侧边栏*/
.aside-in-articles {
    float: left;
    margin-left: 80px;
    margin-top: 62px;
    width: 300px;
}
.mini-userzone {
    background-color: #fff6ed;
    padding: 18px 20px 35px 20px;
    margin-bottom: 40px;
}
.aside-in-articles .mini-userzone img {
    width: 48px;
    height: 48px;
    float: right;
}
.name-in-miniaside {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
}
.mini-userzone .home {
    color: #444;
    line-height: 1.62;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    word-break: break-all;
}
.mini-userzone p {
    color: #aaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-right: 60px;
    word-break: break-all;
    margin-top: 5px;
    margin-bottom: 15px;
}
.data-in-miniaside {
    color: #aaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: right;
}

.articles-in-aside {
    margin-bottom: 40px;
    margin-left: 5px;
    padding-bottom: 5px;
}
.title-in-aside {
    font: 16px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 24px;

}
.title-in-aside a {
    color: #072;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
}
.title-in-aside a:hover {
    color: #f2f2f2;
}
.new-articles a {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
}
.new-articles a:hover {
    color: #f2f2f2;
}
.new-articles {
    color: #666;
    font-size: 13px;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 5px 0;
    margin: 5px 0 0 0;
}
.hot-articles a {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 21px;
}
.hot-articles a:hover {
    color: #f2f2f2;
}
.hot-articles {
    color: #666;
    font-size: 13px;
}
.hot-articles p {
    margin-bottom: 7px;
    font-size: 13px;
    line-height: 1;
    color: #aaaaaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}