* {margin: 0;padding: 0}
li {list-style: none;}
form a {text-decoration: none;}
html, body {font-size: 0}

/*黑色导航栏*/
.global-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545652;
}

.global-nav li {
    float:left;
}

.global-nav li a {
    font-size: 12px;
    display:block;
    color: snow;
    padding:7px 13px;
    text-decoration:  none;
}

.global-nav li a:hover {
    background-color: black;
}
/* 绿色导航栏*/
.club-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #edf4ed;
    height: 78px;
}

.club-nav li {
    float: left;
    height: 82px;
}

.search {
    width: 250px;
    height:30px;
    border: 1px solid #e7eee7;
    border-right: none;
    background-color: #ffffff;
    color: #8a8a8a;
    outline:none;
    padding-left: 5px;
    float: left;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.button {
    height: 32px;
    width: 30px;
    border: 1px solid #e7eee7;
    border-left: none;
    background: url("../image/search.png") no-repeat center;
    outline:none;
    background-color: #ffffff;
}
.button:hover {
    cursor: pointer;
}

.edit {
    float:left;
    margin-top:75px;
    margin-left:310px;
    border: 2px solid #e7eee7;
    background-color: #ffffff;
    padding: 0;
}

/*文章列表*/
.articles {
    margin-top: 30px;
    margin-left: 311px;
    float: left;
    width: 670px;
}
.articles img {
    float: left;
    width: 50px;
    height: 50px;
}
.article-block {
    margin-top: 20px;
    border-bottom: 1px solid #c9c9c9;
    height: 230px;

}
a:hover {
    background-color: steelblue;
    color: snow;
    text-decoration: none;
}

.name {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    line-height: 23px;
    text-decoration-line: none;
    padding: 0 0 0 0;
}
.article {
    margin-top: 32px;
    margin-left: 90px;
    padding: 0 0 0 0;
    height: 105px;
    background-color: #f9f9f9;
}
.titles {
    color: #37a;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-decoration-line: none;
    cursor: pointer;
    font-weight: normal;
    line-height: 24px;
}
.articles p {
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
.time {
    color: #aaaaaa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-left: 70px;
    margin-top: 35px;
}
/*页脚*/
.footer {
    height: 30px;
    background-color: #eee;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 90px;
    padding-top: 15px;
    width: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1;
}


/*分页样式*/
ul.pagination {
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #37a;
    float: left;
    text-decoration: none;
    transition: background-color .10s;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;

}

ul.pagination li a.active {
     background-color: #83bf73;
     color: white;
 }

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
.fenye {
    margin-top: 50px;
    text-align: center;
}

/*侧边栏*/
/*.aside {
    float: left;
    margin-left: 90px;
    background-color: #edf4ed;
    width: 260px;
    height: 310px;
}
.aside form{
    padding: 20px;
    box-shadow:0 1px 2px 1px #aaaaaa,
    inset 0 1px 1px rgba(255,255,255,0.7);
    border-radius: 3px;
}
.aside form ul{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.aside ul li div{
    margin-top: 20px;
    width: 217px;
    height: 40px;
    background: #e1dcd8;
    color: rgb(98,94,91);
    box-shadow: inset 0 2px 5px #aaaaaa;
    border-radius: 5px;
    position: relative;
}
.aside ul li .user{
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 12px;
    left: 10px;
}
.aside ul li .key{
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 12px;
    left: 10px;
}
.aside ul li div input{
    height: 40px;
    width: 147px;
    padding: 0 35px;
    border: none;
    background: #f5f2ef;
    color: rgb(98,94,91);
    box-shadow:
            0 1px 1px rgba(255,255,255,0.7),
            inset 0 2px 5px #aaaaaa;
    border-radius: 5px;
}
.aside ul li input:focus{
    outline: none;
    background: #e1dcd8;
}
.aside ul .remember{
    margin-top: 15px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(98,94,91);
    position: relative;
}
.aside ul .remember input[type*="checkbox"]{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.remember label {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 7px;
    left: 0;
    background: #eee;
    border:1px solid #cccccc;
    border-radius: 4px;
}
/*Display the tick inside the checkbox
.remember label:after {
    opacity: 0.4;
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 4px;
    border: 3px solid #74884a;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*Create the hover event of the tick
.remember label:hover::after {
    opacity: 0.7;
}
/*Create the checkbox state for the tick
.remember input[type=checkbox]:checked + label:after {
    opacity: 1;
    border-color: #74884a;
}
.aside ul li a{
    font-size: 14px;
    line-height: 60px;
    margin-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(152,142,135);
}
.aside a:hover {
    color: white;
}
.user {
    width: 17px;
    height: 17px;
    background: url("../image/user.png") no-repeat;
    padding-left: 30px;
}
.key {
    width: 17px;
    height: 17px;
    background: url("../image/key.png") no-repeat;
    padding-left: 30px;
}
.aside ul li input[type*="button"]{
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background: -moz-linear-gradient(
            top,
            #94aa64 0%,
            #7a924a 50%,
            #607738);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#94aa64),
            color-stop(0.50, #7a924a),
            to(#607738));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7d8862;
    -moz-box-shadow:
            0 1px 0 rgba(170,170,170,1),
            inset 0 1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
            0 1px 0 rgba(170,170,170,1),
            inset 0 1px 1px rgba(255,255,255,0.7);
    box-shadow:
            0 1px 0 rgba(170,170,170,1),
            inset 0 1px 1px rgba(255,255,255,0.7);
    text-shadow:
            0 -1px 0 rgba(000,000,000,0.3),
            0 0 0 rgba(255,255,255,0);
}
.aside ul li input[type*="button"]:hover{
    opacity: 0.8;
}
.aside ul li input[type*="button"]:active{
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background: -moz-linear-gradient(
            top,
            #607 0%,
            #7a924a 50%,
            #94aa64 );
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#607738),
            color-stop(0.50, #7a924a),
            to(#94aa64));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7d8862;
    -moz-box-shadow:
            0 -1px 0 rgba(170,170,170,1),
            inset 0 -1px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
            0 -1px 0 rgba(170,170,170,1),
            inset 0 -1px 1px rgba(255,255,255,0.7);
    box-shadow:
            0 -1px 0 rgba(170,170,170,1),
            inset 0 -1px 1px rgba(255,255,255,0.7);
    text-shadow:
            0 1px 0 rgba(000,000,000,0.3),
            0 0 0 rgba(255,255,255,0);
}*/
.hot-books {
    height: 126px;
    width: 85px;
    margin-right: 40px;
    margin-bottom: 40px;
    border: #dddddd solid 1px;
}

